name: check

on: [pull_request, push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        channel: [stable, nightly]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/cargo@v1

    - name: Select Rust channel
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ matrix.channel }}

    - name: Update packages
      run: |
        sudo apt-get update -q
        sudo apt-get install python3-pip python3-setuptools -y
        pip3 install mako meson ninja

    - name: Check
      run: cargo test --all-features


  build_result:
    name: homu build finished
    runs-on: ubuntu-latest
    needs:
      - "build"

    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
